In [1]:
import numpy as np
import pandas as pd
from keras.utils import np_utils
from keras.layers import Dense, Activation, Dropout
from keras.models import Sequential

Using TensorFlow backend.

In [2]:
from sklearn.datasets import fetch_mldata
mnist = fetch_mldata('MNIST original')

# These are the images# These 
# There are 70,000 images (28 by 28 images for a dimensionality of 784)
print(mnist.data.shape)

# These are the labels
print(mnist.target.shape)

(70000, 784)
(70000,)

In [3]:
ds = pd.DataFrame(mnist.data)
ds[784] = mnist.target
ds.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0

In [4]:
from sklearn.utils import shuffle
ds = shuffle(ds)
ds.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
57067,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9.0
14063,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2.0
23049,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3.0
15103,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2.0
49509,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8.0

In [5]:
data = ds.values[6000:18000]
print(data.shape)

(12000, 785)

In [6]:
X = data[:,:-1]/255.0
y = data[:,-1]
print(X.shape)
print(y.shape)

print(np.unique(y))
nb_classes = len(np.unique(mnist.target))

(12000, 784)
(12000,)
[0. 1. 2. 3. 4. 5. 6. 7. 8. 9.]

In [8]:
Y = np_utils.to_categorical(y)
for ix in range(10):
    print(y[ix], Y[ix])
print(Y.shape)

8.0 [0. 0. 0. 0. 0. 0. 0. 0. 1. 0.]
5.0 [0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]
9.0 [0. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
2.0 [0. 0. 1. 0. 0. 0. 0. 0. 0. 0.]
7.0 [0. 0. 0. 0. 0. 0. 0. 1. 0. 0.]
2.0 [0. 0. 1. 0. 0. 0. 0. 0. 0. 0.]
5.0 [0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]
9.0 [0. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
7.0 [0. 0. 0. 0. 0. 0. 0. 1. 0. 0.]
3.0 [0. 0. 0. 1. 0. 0. 0. 0. 0. 0.]
(12000, 10)

In [9]:
split = int(0.8*data.shape[0])
X_train = X[:split]
X_test = X[split:]

y_train = Y[:split]
y_test = Y[split:]

print(X_train.shape, y_train.shape)

(9600, 784) (9600, 10)

In [10]:
model = Sequential()

model.add(Dense(512, input_shape=(784,)))
model.add(Activation('relu'))
model.add(Dropout(0.5))

model.add(Dense(nb_classes))
model.add(Activation('softmax'))

model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 512)               401920
_________________________________________________________________
activation_1 (Activation)    (None, 512)               0
_________________________________________________________________
dropout_1 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_2 (Dense)              (None, 10)                5130
_________________________________________________________________
activation_2 (Activation)    (None, 10)                0
=================================================================
Total params: 407,050
Trainable params: 407,050
Non-trainable params: 0
_________________________________________________________________

In [11]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [12]:
model.fit(X_train, y_train, epochs=20, batch_size=50, validation_data=(X_test, y_test), verbose=2)

Train on 9600 samples, validate on 2400 samples
Epoch 1/20
 - 11s - loss: 0.5633 - acc: 0.8329 - val_loss: 0.3181 - val_acc: 0.9075
Epoch 2/20
 - 5s - loss: 0.2854 - acc: 0.9186 - val_loss: 0.2444 - val_acc: 0.9321
Epoch 3/20
 - 5s - loss: 0.2174 - acc: 0.9373 - val_loss: 0.2155 - val_acc: 0.9371
Epoch 4/20
 - 5s - loss: 0.1755 - acc: 0.9489 - val_loss: 0.1795 - val_acc: 0.9471
Epoch 5/20
 - 5s - loss: 0.1455 - acc: 0.9582 - val_loss: 0.1713 - val_acc: 0.9521
Epoch 6/20
 - 5s - loss: 0.1254 - acc: 0.9625 - val_loss: 0.1662 - val_acc: 0.9513
Epoch 7/20
 - 5s - loss: 0.1070 - acc: 0.9670 - val_loss: 0.1631 - val_acc: 0.9475
Epoch 8/20
 - 5s - loss: 0.0920 - acc: 0.9730 - val_loss: 0.1433 - val_acc: 0.9558
Epoch 9/20
 - 5s - loss: 0.0797 - acc: 0.9772 - val_loss: 0.1438 - val_acc: 0.9529
Epoch 10/20
 - 5s - loss: 0.0693 - acc: 0.9789 - val_loss: 0.1430 - val_acc: 0.9563
Epoch 11/20
 - 5s - loss: 0.0558 - acc: 0.9835 - val_loss: 0.1422 - val_acc: 0.9575
Epoch 12/20
 - 6s - loss: 0.0535 - acc: 0.9838 - val_loss: 0.1414 - val_acc: 0.9550
Epoch 13/20
 - 5s - loss: 0.0484 - acc: 0.9870 - val_loss: 0.1379 - val_acc: 0.9600
Epoch 14/20
 - 6s - loss: 0.0453 - acc: 0.9853 - val_loss: 0.1436 - val_acc: 0.9567
Epoch 15/20
 - 6s - loss: 0.0377 - acc: 0.9894 - val_loss: 0.1361 - val_acc: 0.9600
Epoch 16/20
 - 6s - loss: 0.0356 - acc: 0.9898 - val_loss: 0.1389 - val_acc: 0.9592
Epoch 17/20
 - 5s - loss: 0.0373 - acc: 0.9877 - val_loss: 0.1381 - val_acc: 0.9600
Epoch 18/20
 - 5s - loss: 0.0251 - acc: 0.9933 - val_loss: 0.1435 - val_acc: 0.9571
Epoch 19/20
 - 5s - loss: 0.0291 - acc: 0.9919 - val_loss: 0.1469 - val_acc: 0.9554
Epoch 20/20
 - 5s - loss: 0.0246 - acc: 0.9925 - val_loss: 0.1426 - val_acc: 0.9604

In [15]:
for layer in model.layers:
    print(layer)
    if len(layer.get_weights())>0:
        print(layer.get_weights()[0].shape)
        print(layer.get_weights()[1].shape)
    print(layer.get_config()['name'])
    print("-----------------")

<keras.layers.core.Dense object at 0x000001617DBD4B00>
(784, 512)
(512,)
dense_1
-----------------
<keras.layers.core.Activation object at 0x000001617DB53CC0>
activation_1
-----------------
<keras.layers.core.Dropout object at 0x000001617DBD4E48>
dropout_1
-----------------
<keras.layers.core.Dense object at 0x000001617DBD4E80>
(512, 10)
(10,)
dense_2
-----------------
<keras.layers.core.Activation object at 0x000001612549A6D8>
activation_2
-----------------